
.gridSquareContainer
{
  justify-content: center;  /* centers items inside container horizontally*/
  align-items: center; /* Centers items inside container vertically*/
  display:flex; /* Makes items in container a flex item*/
  height:50vw; /* viewport width*/
  gap:5rem; /* gap between flex items*/
  padding:20px;
  flex-wrap:wrap;
  

  
}

.child
{
  align-content:flex-start;
  outline:solid pink 5px;
  width:512px;
  height:512px;
  display: flex;
  flex-wrap:wrap;
  background:grey;
}
.gridSquare{
  outline:solid white 1px;

}
   